@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1200px;
  margin: 0 auto;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: Roboto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #172b4d;
  transition: all 300ms linear;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
}
ul{
  list-style: none;
}
#root{
  
}
.section-name::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  height: 6px;
  border-radius: 10px;
}