@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1200px;
  margin: 0 auto;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: Roboto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #172b4d;
  transition: all 300ms linear;
  letter-spacing: 0.02em;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
}
ul{
  list-style: none;
}
input, textarea{
  width: 100%;
  outline: none;
  padding: 10px;
  background-color: #f0f0f0;
}
#root{
  
}
.section-name::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  height: 6px;
  border-radius: 10px;
}
.btn-project::after {
  content: "";
  width: 0%;
  height: 100%;
  background: #ffd401;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}
.btn-project:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}